body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Project_Heder {
    width: 100px;
    height: 150px;
    background-color: blueviolet;
}

html, body {
    height:  100%;
    margin:  0;
    display: flex;
    flex-direction: column;
  }
  
  #root {
    min-height:  100%;
    display: flex;
    flex-direction: column;
  }

  footer {
    margin-top: auto;
  }